<style>

</style>
<div>
    <form method="post">
        <label id="doctor">時間:{{name.name}}</label>
        <label id="doctor">時段:{{name.name}}</label>
        <label id="doctor">科別:{{name.name}}</label>
        <label id="doctor">診室:{{name.name}}</label>
        <label id="doctor">醫生名稱:{{name.name}}</label>
    </form>
</div>
